.dashboard {
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.33fr 1fr;
  gap: 1rem;

  @include md-mobile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .user__heading {
    font-size: 2.75rem;
    // row start, column start, row end, column end
    grid-area: 1 / 1 / 2 / 2;

    @include md-mobile {
      grid-area: 1 / 1 / 2 / 3;
      color: blue;
    }
  }

  .user__info {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;

    @include md-mobile {
      grid-area: 2 / 1 / 3 / 2;
      align-items: center;
    }

    form {
      width: 80%;

      @include md-mobile {
        margin: 0 auto;
      }
    }

    .update_button {
      margin: 1rem 0;
      text-align: center;
      max-width: 10rem;
      background-color: green;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      display: block;
    }

    input {
      width: 100%;
      max-width: 20rem;
      padding: 0.25em 0.5em;
      font-size: 0.8rem;
      border-radius: 5px;
      border: 1px solid #333;
    }
    label {
      margin-top: 0.5em;
      display: block;
    }
  }

  .user__previousOrders {
    grid-area: 3 / 1 / 4 / 3;

    @include md-mobile {
      grid-area: 2 / 2 / 3 / 3;
    }
    .orderItem:nth-of-type(even) {
      background-color: lightgray;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
