.homescreen {
  .hero {
    h1 {
      padding: 1rem;
      font-size: clamp(3rem, 4vw + 1rem, 5rem);
      color: #fff;

      @include md-mobile {
        padding: 1rem;
        text-align: center;
        white-space: nowrap;
      }
    }
  }

  .fav-container {
    display: flex;
  }

  section {
    min-height: 20vh;
    color: #333;

    @include md-mobile {
      padding: 0 2rem;
    }

    h2 {
      font-size: clamp(2rem, 1vw + 1rem, 2.44rem);
      text-align: center;
      line-height: 1.4;
    }
  }

  .section-dark {
    padding: 2rem;
    background-color: #000;
    color: #fff;
  }
}
